<!--Información del curso-->
<img align="left" style="padding-right:10px;" src="figuras/logo_ciencia_datos.png">

<center><h1 style="font-size:2em;color:#2467C0"> Ejercicio  </h1></center>

<center><h2 style="font-size:2em;color:#840700">  Jugadores de la NBA </h4></center>

<br>
<table>
<col width="550">
<col width="450">
<tr>
<td><img src="figuras/nba.jpg" align="left" style="width:500px"/></td>
<td>

La National Basketball Association, más conocida simplemente por sus siglas NBA, es una liga privada de baloncesto profesional que se disputa en Estados Unidos desde 1949, cuando se fusionaron las ligas profesionales National Basketball League (NBL, creada en 1937) y la Basketball Association of America (BAA, fundada en 1946).
    
<br>
</td>
</tr>
</table>

# Librerías

Cargando las bibliotecas que necesitamos

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

##  Datos
Utilizar el archivo 'datos/nba.csv' para resolver los ejercicios siguientes

In [2]:
# archivo datos/nba.csv
df = pd.read_csv("datos/nba.csv")
df.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

<div class="alert alert-success">

<b>EJERCICIO 1</b>: 
    
Mostrar a los diferentes equipos en forma alfabetica

</div>

In [10]:
df.sort_values('Team')['Team'].unique().tolist()

['Atlanta Hawks',
 'Boston Celtics',
 'Brooklyn Nets',
 'Charlotte Hornets',
 'Chicago Bulls',
 'Cleveland Cavaliers',
 'Dallas Mavericks',
 'Denver Nuggets',
 'Detroit Pistons',
 'Golden State Warriors',
 'Houston Rockets',
 'Indiana Pacers',
 'Los Angeles Clippers',
 'Los Angeles Lakers',
 'Memphis Grizzlies',
 'Miami Heat',
 'Milwaukee Bucks',
 'Minnesota Timberwolves',
 'New Orleans Pelicans',
 'New York Knicks',
 'Oklahoma City Thunder',
 'Orlando Magic',
 'Philadelphia 76ers',
 'Phoenix Suns',
 'Portland Trail Blazers',
 'Sacramento Kings',
 'San Antonio Spurs',
 'Toronto Raptors',
 'Utah Jazz',
 'Washington Wizards']

<div class="alert alert-success">

<b>EJERCICIO 2</b>: 
    
Muestre los 10 colegios con más aportaciones (o que más veces aparece)
    
</div>

In [ ]:
df.sort_values('Team')['Team'].unique().tolist()

<div class="alert alert-success">

<b>EJERCICIO 3</b>: 
    
Cuantos valores nulos hay en la columna de College
    
</div>

<div class="alert alert-success">

<b>EJERCICIO 4</b>: 
Obtener la misma salida    
</div>

<img align="left" width="550"  float= "none" align="middle" src="figuras/ejercicio7.png">

<div class="alert alert-success">

<b>EJERCICIO 5</b>: 
Obtener la misma salida    
</div>

<img align="left" width="550"  float= "none" align="middle" src="figuras/ejercicio8.png">

<div class="alert alert-success">

<b>EJERCICIO 6 </b>: 
    
Agregar dos nuevas columnas:
    
a) Una nueva columna que se llame **Height(m)** y que tenga el valor en metros. La columna Height tiene unidades Pies-Pulgadas.
    
b) Una nueva columna que se llame **Weight(kg)** y que tenga el valor en Kilogramos. La columna Weight tiene unidades en libras.
</div>